

.bg-danger{
    background-color: rgb(246, 154, 154);
    padding: 5px;
}

.text-size{
    font-size: 32px;
}

.box-color{
    background-color: gray;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: white;
}